@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Macondo+Swash+Caps");
/* Colors

#d1c4e9 lavender
#673ab7 purple
#512da8 dark purple
#536DFE blue
##212121 dark
#757575 medium
#BDBDBD light*/
html {
  box-sizing: border-box; }

*,
*:after {
  box-sizing: inherit; }

.cfm:before,
.cfm:after {
    content: ' ';
    display: table;
}

.cfm:after {
    clear: both;
}

body{
	background: black;
	color: #d1c4e9;
	margin: 5px;
	padding: 5px;
	font-family: 'Macondo Swash Caps', 'Crimson Tesxt', serif;
	font-size: 150%;
	line-height: 1.5rem;
}

header img {
	width: 300px;
	height: auto;
	float: left;
	margin: 10px;
	}

h1 {
	text-align: center;
}

nav {
	text-align: center;
}

nav a {
	text-decoration: none;
	padding: 0 5px;
	color: #d1c4e9;
	font-weight: bold;
}

nav a:hover {
	color: goldenrod;
}

header {
	padding: 2rem;
	border-bottom: 2px solid #d1c4e9;
}

.container {
	text-align: center;
	max-width: 1060px;
	margin: 3rem auto;
}

.dragons, .mmaids {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	height: 1200px;
	margin-top: 5rem;
}

.mmaids {
	height: 600px;
}

.draglrg, .feelrg {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: #d1c4e9;
	border-radius: 15px;
	flex: 0 0;
	align-self: center;
	width: 55%;
}


#large {
	width: 500px;
	margin: 30px 60px;
}


.dragthumb {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	width: 30%;
}

.thumb{width: 120px;}

.fairies {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	height: 1000px;
	margin-top: 5rem;
}

.feethumb {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: space-between;
	width:60%;
}

.mlrg {
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: center;
	align-self: auto;
	background-color: #d1c4e9;
	border-radius: 15px;
	flex: 0 0;
}

.mthumb {
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-around;
	align-items:flex-end;
	width: 30%;
}

.mthumb img {
	
	width: 120px;
	margin: 0px 3px;
}


footer {
	text-align: center;
	clear: both;
	border-top: 2px solid #d1c4e9;
}